<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ title }}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="phone.css" >	  

	</head>

<body>
{{ include('header.twig') }}
<div class='box'>
	<p><b>SFU Safety Plan & Inspection DB</b></p>
	<p><u>Lookup:</u> Look up specific rooms to check Site Safety Plan status and inspection report(s), if applicable.</p>
	<p><u>Manage:</u> Displays listing of inspection reports and room statuses. Can filter by PI/Supervisor or Faculty.</p>
	<p><u>Safety Plans:</u> Admins can view or enter data and links for Site Safety Plans</p>
	<p><u>Admin:</u> Add, edit or delete users.</p>
	<p>To access the system with increased privileges contact a system administrator from your area:<br><br>
	<table>
	{% for admin in admins %}
	<tr><td>{{ admin.firstname }}</td><td>{{ admin.lastname }}</td><td>{{ admin.compid }}@sfu.ca</td></tr>
	{% endfor %}
	</table>
	</p>
	<br><br><br>
	<font size='-1'>Maintained by the VPRI <a href='#'>Research Intelligence Office</a></font>
</div>
		

</body>
</html>